{% extends "base.html" %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'alunos/css/alunos.css' %}">
    <link rel="stylesheet" href="{% static 'frequencia/css/frequencia.css' %}">
{% endblock %}

{% block 'dashboard' %}

<div class="container">
    
    <div id="adicionar_frequencia" class="adicionar-frequencia">
        <form action="{% url 'frequencia' %}" method="POST">{% csrf_token %}
            <p><br>
            Frequência de Aulas:
            <hr style="background-color:gray;">
            </p>
            <div class="row">
                <div class="col-8">
                    <label for="turma">Turma:
                    <select name="turma" class="form-control" id="comboTurma" value="{{turma}}">
                        {% for turma_select in lista_turmas%}
                        <option value = "{{turma_select.id}}">{{turma_select.nome}}</option>
                        {%endfor%}  

                    </select>
                    </label>
                    <br>
                </div>
                <div class="col-md-auto">
                    Data:
                    <input type="date" class="form-control" id="data_aula" name="data_aula"value="{{data_aula}}">
                    <br>
                </div>

                <div class="col-md-auto">
                <label for="lancar"><br>
                <input onclick="" name="lancar" type="submit" value="Lançar" class="btn btn-secondary" >  </label>
                </div>
            
             </div>
        <hr style="background-color:gray;">
        </form>
    </div>
    <div id="lista_aulas">
        <table class="table table-hover">
            <tr>
                <td scope="col">#</td>
                <td scope="col">Turma</td>
                <td scope="col">Data</td>

            </tr>
            {% for dias in lista_aulas %}
                    <tbody>
                        <tr>
                            <td>{{dias.id}} </td>
                            <td>{{dias.id_turma}}</td>
                            <td>{{dias.data}}</td>
                            <td class="col-lg-2" style="text-align: right;"><a href='/frequencia/att_frequencia/{{dias.id}}' class="btn btn-secondary w-40 py-1"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                                <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                            </svg> Editar</button></td>
                            <td class="col-lg-2"><a href='/frequencia/apagar_dia_aula/{{dias.id}}'  onclick="return confirm('Tem certeza?')"><span><i class="fas fa-trash"></i></span>
                                <button class="btn btn-secondary w-40 py-1"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                            </svg> Apagar</button></a></td>
                        </tr>


                    </tbody>
            {%endfor%}
        </table>
        <div>
            <nav>
                <ul class="pagination">
                    {% if lista_aulas.has_previous %}
                        <li class="page-item">
                            <a class="btn btn-light" href="{% url 'frequencia' %}?page={{lista_aulas.previous_page_number}}" tabindex="-1">Anterior</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="btn btn-light" href="#" tabindex="-1">Anterior</a>
                        </li>
                    {% endif %}

                    {% for num in lista_aulas.paginator.page_range %}
                        {% if num == lista_aulas.number %}
                            <li class="page-item active" >
                                <a class="btn btn-secondary" href="{% url 'frequencia' %}?page={{num}}">{{num}}</a>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a class="btn btn-light" href="{% url 'frequencia' %}?page={{num}}">{{num}}</a>
                            </li>
                        {% endif%}
                    {% endfor %}
                    {% if lista_aulas.has_next %}
                        <li class="page-item">
                            <a class="btn btn-light" href="{% url 'frequencia' %}?page={{lista_aulas.next_page_number}}" tabindex="-1">Próximo</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="btn btn-light" href="#" tabindex="-1">Próximo</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>

</div>
<script src="{% static 'frequencia/js/frequencia.js' %}"></script>

{% endblock%}
